@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgba(250, 250, 250, 1);
  --background-second: rgba(240, 240, 240, 1);
  --foreground: rgba(21, 21, 21, 1);
  --color-dark: rgba(21, 21, 21, 1);
  --color-accent: rgba(165, 157, 255, 1);
  --color-gray: rgba(209, 209, 209, 1);
  --color-gray-second: rgba(201, 201, 201, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgba(21, 21, 21, 1);
    --foreground: rgb(250, 250, 250);
  }
}

@font-face {
  font-family: 'PP Neue Montreal Book';
  font-style: normal;
  font-weight: normal;
  src:
    local('PP Neue Montreal Book'),
    url('../media/fonts/ppneuemontreal-book.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Italic';
  font-style: normal;
  font-weight: normal;
  src:
    local('PP Neue Montreal Italic'),
    url('../media/fonts/ppneuemontreal-italic.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Thin';
  font-style: normal;
  font-weight: normal;
  src:
    local('PP Neue Montreal Thin'),
    url('../media/fonts/ppneuemontreal-thin.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Medium';
  font-style: normal;
  font-weight: normal;
  src:
    local('PP Neue Montreal Medium'),
    url('../media/fonts/ppneuemontreal-medium.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal SemiBold italic';
  font-style: normal;
  font-weight: normal;
  src:
    local('PP Neue Montreal SemiBold italic'),
    url('../media/fonts/ppneuemontreal-semibolditalic.woff') format('woff');
}

@font-face {
  font-family: 'PP Neue Montreal Bold';
  font-style: normal;
  font-weight: normal;
  src:
    local('PP Neue Montreal Bold'),
    url('../media/fonts/ppneuemontreal-bold.woff') format('woff');
}

body {
  color: var(--foreground);
  background: var(--background);

  * {
    font-family: 'PP Neue Montreal Medium', sans-serif;
    font-weight: 400px;
    font-size: 16px;
    line-height: 1.5;
  }

  .MuiButtonBase-root,
  .MuiButton-root {
    padding: 0;
    margin: 0;

  }
}
